$color1: rgb(212, 243, 255);
$color2: rgb(8, 66, 226);
$fontcolor: rgb(255, 196, 0);
*{
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: $color1;
}
header{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 50px;
        margin-top: 15px;
        color: $fontcolor;
    }
    .img-cont{
        width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        img{
            width: 100%;
        }
    }
}
main{
    .container{
        display: grid;
        grid-template-columns: 6fr 2fr 1fr;
        grid-template-rows: 100px 50px 200px;
        text-align: center;
        margin-top: 50px;
        .box1{
            width: 100%;
            margin-bottom: 20px;
            grid-column: 1;
            grid-row: 1;
            #moneda{
                width: 550px;
                height: 40px;
            }
        }
        .box4{
            width: 100%;
            height: 500px;
            margin-right: 20px;
            grid-row: 1/3;
            grid-column: 2;
            background-color: whitesmoke;
            h3{
                color: $color2;
                font-size: 30px;
                border-bottom: 2px solid $color2;
            }
            p{
                color: $fontcolor;
                font-size: 22px;
            }
        }
        .box2{
            width: 100%;
            margin-bottom: 50px;
            grid-row: 2;
            grid-column: 1;
            color: black;
            .taza-de-cambio{
                margin-right: 550px;
                button{
                    border: solid 2px black;
                    font-size: 15px;
                    height: 45px;
                    width: 90px;
                    margin: 25px;
                    color: white;
                    background-color: $color2;
                    border-radius: 6px;
                    &:hover{
                        background-color: $fontcolor;
                        color: white;
                    }
                }
            }
            .moneda{
                padding: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                select{
                    padding: 15px 30px 15px 15px;
                    font-size: 15px;
                    border-radius: 4px;
                    border: 1px solid $color2;
                }
                input{
                    border: 0;
                    font-size: 40px;
                    text-align: right;
                    border-radius: 3px;
                }
            }
        }
    }
}